/* iPhone horizontal or high res phone */
body {
  background-color: green;
  color: white;
}

header {
  height: 90px;
  background: url(mr_boh.png) no-repeat center top;
}

section.resolution a#device_iphone_horizontal {
  color: black;
  font-weight: bold;
}
