/* Common CSS */

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  width: 100%;
  font-size: 12px;
  -webkit-text-size-adjust: none;
}

/* line 14, ../../../app/stylesheets/partials/_fluid_layouts.sass */
header, footer, aside, section, article, nav {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 20, ../../../app/stylesheets/partials/_fluid_layouts.sass */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 25, ../../../app/stylesheets/partials/_fluid_layouts.sass */
nav ul li {
  width: 100%;
}
/* line 28, ../../../app/stylesheets/partials/_fluid_layouts.sass */
nav ul li h2 {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: 1px;
  margin-bottom: 0px;
  text-decoration: none;
  background: gray url(app_list_arrow.png) no-repeat scroll;
  background-position: 95% 50%;
  padding: 7px;
  cursor: pointer;
}

nav ul li div {
  display: none;
}

/* line 41, ../../../app/stylesheets/partials/_fluid_layouts.sass */
section.content {
  padding: 10px;
  padding-top: 0;
}

section.resolution {
  background-color: #ccc;
  padding: 10px 5px;
  margin-top: 15px;
  float: left;
}

section.resolution a {
  padding-right: 8px;
}
